body{
    width: 100%;
}
.cardsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
    width: 250px;
    margin: 20px;
    
}
.cards img{
    width: 150px;
}
