body {
    width: 100%;
    background-image: url(../assets/images/background3.jpg);
    background-size: cover;
    padding-bottom: 0;
}

.lex-nav {
    background-color: rgb(0, 0, 0);
    height: 121px;
    font-style: italic;
    border-radius: 55px;
    font-size: 40px;
    margin-top: 50px;
}

.jumbotron {
    background-image: url(../assets/images/background1.jpg);
    background-size: cover;
    font-size: 50px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    border-radius: 120px;
    height: 500px;
}

h1 {
    color: rgb(235, 188, 33);
}

.lex-footer {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 237, 237);
    font-style: italic;
    font-size: 22px;
}

.navbar-brand {
    font-style: oblique;
    font-size: 40px;
}

.cardsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(248, 237, 237);
    font-size: 20px;
    font-style: italic;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;

}

.cards img {
    width: 150px;
}

/***********STAR NOTE***************/
.ajaratingblock {
    display: flex;
}

.ajarating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.ajarating a:hover,
.ajarating a:focus,
.ajarating a:hover~a,
.ajarating a:focus~a {
    color: rgb(221, 150, 17);
    cursor: pointer;
}

.btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 50px;
}

.lex-form {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
}