body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url(../assets/images/background2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    
}

.lex-nav {
    background-color: rgb(0, 0, 0);
    height: 121px;
    font-style: italic;
    border-radius: 55px;
    font-size: 40px;
    margin-top: 20px;
}

.jumbotron {
    background-image: url(../assets/images/bateauGM.jpg);
    background-size: cover;
    font-size: 38px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    border-radius: 120px;
    height: auto;
}
.jumbotron p{
    background-color: rgba(255, 248, 220, 0.548);
    border-radius: 10px;
    
}
h1 {
    color: rgb(247, 192, 15);
    text-shadow: black 3px 3px 3px; 
    font-weight: bold;
    
}
.navbar-brand {
    font-style: oblique;
    font-size: 40px;
}

/************CATALOGUE*************/
.cardsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(248, 237, 237);
    font-size: 20px;
    font-style: italic;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;

}
.cards a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
}
.cards img {
    width: 150px;
}
.cards button{
    background-color: chartreuse;
    border-radius: 10%;
    padding: 3px;
}
.ajaCateg input{
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
    width: 9rem;
}
/*****************************DESCRIPTIF INDIVIDUEL ALBUM************************************/
.detailBox h5{
    margin-bottom: 30px;
}
.detailBox{
    background-color: rgba(248, 215, 107, 0.767);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
    padding: 15px;
}
.detailBoxComment{
    border: black solid 1px;
}
.detailBox form{
    padding: 20px;
}
.description{
    font-size: 20px;
    margin-left: 20px;
}
/***********STAR NOTE***************/
.ajaratingblock {
    display: flex;
    justify-content: center;
}

.ajarating a {
    float: right;
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.ajarating a:hover,
.ajarating a:focus,
.ajarating a:hover~a,
.ajarating a:focus~a {
    color: rgb(255, 230, 0);
    text-shadow: rgb(255, 102, 0) 2px 2px 0 ;
    cursor: pointer;
}
/**********FORMULAIRE*************/
.ajabtn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 50px;
    
}
.lexform {
    background-color: rgba(252, 207, 166, 0.767);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
    padding: 15px;    
}
.lexform img{
    width: 300px;
}
.mjjalertform{
    border: red solid 3px !important; 
}
.textFormAlert{
    color:red;
    font-size: 20px;
    font-weight: bold;
}
.mjjFormValid{
    border: green 4px solid;
    background-color: grey;
    width: 800px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.fondu-enter-active,
    .fondu-leave-active {
      transition: opacity 1s;
    }
.fondu-enter,
.fondu-leave-to {
      opacity: 0;
    }


/*FOOTER*/
.lexfooter {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 237, 237);
    font-style: italic;
    font-size: 22px;
}

/*************RESPONSIVE********************/

@media (max-width: 768px){
    .jumbotron{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        align-items: center ;
        justify-content: center;
        height: auto;
    }
    .jumbotron h1{
        text-align: center;
        color: blueviolet !important;
        font-size: 10rem;
    }
    .lexform form{
        margin-bottom: 50px;
    }
}